{% macro render_quote(quote) %}
  <div class="jumbotron creamdust">
    <blockquote>
      <p><a href="{{ url_for('quote.quote', quote_id=quote.quote_id) }}">{{ quote.quote_text |truncate(500) }} </a></p>
      <footer>
        <cite title="Source Title">{{ quote.author.author_name }}</cite>
      </footer>
    </blockquote>
  </div>
{% endmacro %}

{% macro render_quote_text_only(quote) %}
  <div class="jumbotron creamdust">
    <blockquote>
      <p>{{ quote.quote_text }}</p>
      <footer>
        <cite title="Source Title">{{ quote.author.author_name }}</cite>
      </footer>
    </blockquote>
  </div>
{% endmacro %}

{% macro render_quote_with_details(quote) %}
  <div class="container">
    <div class="row">
      {{ render_quote(quote) }}
    </div>
    <div class="row quote-details-row">
      <div class="category-link">
        <em>Category:</em> <a href="{{ url_for('quote.category', category_id=quote.category.category_id) }}">{{ quote.category.category_name }}</a>
      </div>
      <a href="{{ quote.author.author_bio }}" target="external" role="button" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> More about author </a>
      <a href="{{ quote.quote_source }}" target="external" role="button" class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> Source of quote </a>
      <span class="pull-right" class="submitted-link">Submitted by <a href="{{ url_for('user.profile', user_login=quote.user.user_github_login) }}">{{ quote.user.user_github_login }}</a></span>
    </div>
  </div>
{% endmacro %}
