<div class="container">
  <div class="row">
    <nav class="navbar navbar-default creamdust">
      <div class="footer-content">
        Connect with <strong>brenj</strong>
        <div class="connect-icons">
          <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/brenj">
            <span class="fa fa-linkedin"></span>
          </a>
          <a class="btn btn-social-icon btn-github" href="https://github.com/brenj">
            <span class="fa fa-github"></span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
