<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
    {% block title %}
      {{ config.SITE_NAME }}
    {% endblock %}
  </title>

  {% assets "js_all" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  {% assets "css_all" -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}
  <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css">

  <script type="text/javascript">
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrap">
    <div id="main">
      {% include 'nav.html' %}
      {% include 'components/flash.html' %}
      <div class="col-xs-12" style="height: 25px;"></div>
      {% block content %}{% endblock %}
    </div>
  </div>
  <div class="col-xs-12" style="height: 50px;"></div>
  <div id="footer">
    {% include 'footer.html' %}
  </div>
</body>
</html>
